<ion-item class="read">
  <img style="padding: 5px;" height="50px" width="50px" src="https://lh3.googleusercontent.com/XdgGl-1W5nsU5vl-qyq1QaaHifnq-SgEh6Dh_DdJ4hEtMfGSgjpQIkOq7Ly3zfG3zA8">
  <p>Таны <strong>Toyota Land Cruiser</strong> автомашиныг түрээслэх хүсэлт амжилттай илгээгдлээ.</p><br>
  <!-- <p>3 сарын 5 , 14:27</p> -->
</ion-item>

<ion-item class="unread">
  <img style="padding: 5px;" height="50px" width="50px" src="https://lh3.googleusercontent.com/XdgGl-1W5nsU5vl-qyq1QaaHifnq-SgEh6Dh_DdJ4hEtMfGSgjpQIkOq7Ly3zfG3zA8">
  <p>Таны санал болгосон <strong>Toyota Land Cruiser</strong> автомашиныг <strong>Б. Энхмаа</strong>  түрээслэх санал илгээсэн байна. Таньд 200 оноо нэмэгдлээ.</p>
  <!-- <p>3 сарын 5 , 14:27</p> -->

</ion-item>
<ion-item class="read">
  <img style="padding: 5px;" height="50px" width="50px" src="https://lh3.googleusercontent.com/XdgGl-1W5nsU5vl-qyq1QaaHifnq-SgEh6Dh_DdJ4hEtMfGSgjpQIkOq7Ly3zfG3zA8">
  <p>Таны <strong>Toyota Land Cruiser</strong> автомашиныг түрээслэх хүсэлт амжилттай илгээгдлээ.</p>
  <!-- <p>3 сарын 5 , 14:27</p> -->

</ion-item>
<!---notification haanaas ireh ve henees-->