<!-- <ion-header>
  <ion-toolbar>
    <ion-title>number-auth</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div style="    margin-top: 204px;
  padding: 10px;">
<p style="text-align: center;color: black;">Таны утсанд илгээсэн 5 оронтой тоог оруулна уу</p>
<ion-row>
  <ion-col size="1"></ion-col>
  <ion-col size="2">
      <!-- <ion-label >Country Code</ion-label> -->
      <ion-input type="tel" value="" > </ion-input>
  </ion-col>
  <ion-col size="2">
      <!-- <ion-label >Enter Phone Number</ion-label> -->
      <ion-input type="tel" value="">  </ion-input>
  </ion-col>
  <ion-col size="2">
      <!-- <ion-label >Country Code</ion-label> -->
      <ion-input type="tel" value="" > </ion-input>
  </ion-col>
  <ion-col size="2">
      <!-- <ion-label >Country Code</ion-label> -->
      <ion-input type="tel" value="" > </ion-input>
  </ion-col>
  <ion-col size="2">
      <!-- <ion-label >Country Code</ion-label> -->
      <ion-input type="tel" value="" > </ion-input>
  </ion-col>
  <ion-col size="1"></ion-col>

</ion-row>
<div style="text-align: center;margin-top: 20px;">
<ion-button style="text-align: center;"  fill="clear" (click)="continue()">Үргэлжлүүлэх <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
</div>
</div>
</ion-content>
