

<ion-content>
 
 
 
  <ion-row>
    <ion-col size="6">
      <ion-card (click)="detail()" style="padding-top: 5px;padding-left: 5px;padding-right: 5px;
      width: 152px;
      border-radius: 15px;margin-bottom: 0px;text-align: center;height: 237px;">
        <img style="height: 100px;" src="https://avplay.eu/images/thumbnails/525/525/detailed/3/av-play_laptop_1k83-vm.jpg">
        <p>AVPLAY 15,6 INCH LAPTOP</p>
        <p style="font-weight: bold;">11 сая</p>
        <p>2020/03/20</p>
        <ion-rating style="margin-left: -4px;" rate="4" readonly="false" size="small" (rateChange)="onRateChange($event)">
        </ion-rating>
        <!-- <ion-item lines="full" (click)="appRating()">
          <ion-icon name="star-half" slot="start" color="danger"></ion-icon>
          Rate Us
        </ion-item> -->
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card (click)="detail()" style="padding-top: 5px;padding-left: 5px;padding-right: 5px;
      width: 152px;
      border-radius: 15px;margin-bottom: 0px;text-align: center;height: 237px;">
        <img  style="height: 100px;" src="https://cdn3.shoppy.mn/spree/images/469034/large/open-uri20190312-104258-ffmwmu.">
        <p>Philips Индүү GC2145/20 </p>
        <p style="font-weight: bold;">109 мянга</p>
        <p>2020/01/12</p>

        <ion-rating style="margin-left: -4px;" rate="5" readonly="false" size="small" (rateChange)="onRateChange($event)">
        </ion-rating>
        <!-- <ion-item lines="full" (click)="appRating()">
          <ion-icon name="star-half" slot="start" color="danger"></ion-icon>
          Rate Us
        </ion-item> -->
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <ion-card (click)="detail()" style="padding-top: 5px;padding-left: 5px;padding-right: 5px;
      width: 152px;
      border-radius: 15px;margin-bottom: 0px;text-align: center;height: 237px;">
        <img  style="height: 100px;" src="https://cdn.mos.cms.futurecdn.net/TJDYpZN3r8B7onh2imuNah-650-80.jpg.webp">
        <p>SAMSUNG GALAXY NOTE 10 PLUS</p>
        <p style="font-weight: bold;">5 сая</p>
        <p>2020/03/20</p>
        <ion-rating style="margin-left: -4px;" rate="4" readonly="false" size="small" (rateChange)="onRateChange($event)">
        </ion-rating>
        <!-- <ion-item lines="full" (click)="appRating()">
          <ion-icon name="star-half" slot="start" color="danger"></ion-icon>
          Rate Us
        </ion-item> -->
      </ion-card>
    </ion-col>
  </ion-row>

</ion-content>