<ion-header>
  <ion-toolbar>
    <ion-icon slot="start" (click)="back()" name="chevron-back-outline"></ion-icon>

    <ion-title>Дэлгэрэнгүй</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label class="key">Үйлдвэрлэсэн он</ion-label>
    <ion-label class="value">2004 он</ion-label>
  </ion-item>
  <ion-item>
    <ion-label class="key">Арлын дугаар</ion-label>
    <ion-label class="value">гжцүгж</ion-label>
  </ion-item>
  <ion-item>
    <ion-label class="key">Монголд орж ирсэн</ion-label>
    <ion-label class="value">2004 он</ion-label>
  </ion-item>
  <ion-item>
    <ion-label class="key">Хөдөлгүүр</ion-label>
    <ion-label class="value">Дизель</ion-label>
  </ion-item>
</ion-content>
