<ion-header>
  <ion-toolbar>
    <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>
    <ion-title>Бүтээгдэхүүн нэмэх</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">Бүтээгдэхүүний төрөл</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Бүтээгдэхүүний нэр</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Авсан үнэ</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked"></ion-label>
    <ion-input></ion-input>
  </ion-item>

</ion-content>
