.login-btn{
    --background : #3880ff;
    margin: 20px;
    --border-radius : 13px;
}
.item-color{
    --border-radius: 20px;
    --border-width: 1px 1px 1px 1px;
    // --border-color : red;
    // --color : #eff0f1;
    padding-top: 10px;
    padding-bottom: 10px;
}